name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v5

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - run: |
          Remove-Item -LiteralPath .\genomehubs-blobtk-*\.github -Recurse -Force
          Move-Item -LiteralPath .\genomehubs-blobtk-*\* -Destination .

      - run: dir

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: rust

      - name: Build wheels
        run: ls -l wheelhouse
        env:
          CIBW_SKIP: pp* *musllinux*

      - run: ls -l wheelhouse
