name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v5

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - run: |
          Remove-Item -Path .\genomehubs-blobtk-*\.github -Recurse -Force
          Move-Item -Path .\genomehubs-blobtk-*\* -Destination .
          Remove-Item -Path .\genomehubs-blobtk-*

      - run: dir

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: microsoft/setup-msbuild@v2
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_BEFORE_ALL_WINDOWS: rustup target add i686-pc-windows-msvc
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_BUILD: cp310-*
          CIBW_SKIP: pp*
        with:
          package-dir: rust

      - run: ls -l wheelhouse
