name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: false

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - name: Prepare files
        shell: msys2 {0}
        run: |
          rm -rf genomehubs-blobtk-*/.github
          mv genomehubs-blobtk-*/* .
          rm -rf ./genomehubs-blobtk-*
          rm rust/src/bam.rs
          rm rust/src/filter.rs
          rm rust/src/depth.rs
          rm rust/src/python/depth.rs
          rm rust/src/python/filter.rs

      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'

      - run: python fix_win_build.py

      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ARCHS_WINDOWS: auto64
          #CIBW_BUILD: cp310-*
          CIBW_SKIP: pp* cp314-*
        with:
          package-dir: rust

      - run: ls -l wheelhouse

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl

      - uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: ./wheelhouse/*.whl
