name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on Windows
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - uses: actions/checkout@v5

      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: false
          install: >-
            mingw-w64-x86_64-autotools
            mingw-w64-x86_64-bzip2
            mingw-w64-x86_64-curl
            mingw-w64-x86_64-libdeflate
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-tools-git
            mingw-w64-x86_64-xz
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-rust
            mingw-w64-x86_64-openssl
            mingw-w64-x86_64-python
            mingw-w64-x86_64-python-pip
            mingw-w64-x86_64-python-maturin
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
            base-devel
            autoconf

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - run: |
          rm -rf genomehubs-blobtk-*/.github
          mv genomehubs-blobtk-*/* .
          rm -rf ./genomehubs-blobtk-*

      #- uses: actions/setup-python@v5
      #  with:
      #    python-version: 3.10

      #- run: python fix_ord_subset.py

      #- uses: microsoft/setup-msbuild@v2
      #- uses: actions-rust-lang/setup-rust-toolchain@v1

      #- name: Install OpenSSL
      #  run: vcpkg install openssl:x64-windows
        #run: choco install openssl --no-progress

      #- run: |
        #  tree "C:\\Program Files\\OpenSSL" /f
        #  dir C:/ProgramData/chocolatey
        #  dir C:/ProgramData/chocolatey/lib/openssl
        #  dir C:/vcpkg/packages/openssl_x64-windows
        #  dir C:/vcpkg/packages/openssl_x64-windows/lib
        #  dir C:/vcpkg/packages/openssl_x64-windows/include
        #  dir C:/vcpkg/packages/openssl_x64-windows/include/openssl
        #  echo "VCPKG_ROOT=C:/vcpkg" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_DIR=C:/vcpkg/packages/openssl_x64-windows" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_LIB_DIR=C:/vcpkg/packages/openssl_x64-windows/lib" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_INCLUDE_DIR=C:/vcpkg/packages/openssl_x64-windows/include" | Out-File -FilePath $env:GITHUB_ENV -Append

      #- uses: pypa/cibuildwheel@v3.2.1
      #  env:
      #    CIBW_BEFORE_BUILD: dir C:\\msys64\\mingw64\\bin
      #    CIBW_ENVIRONMENT: >
      #      CC=x86_64-w64-mingw32-gcc
      #      CXX=x86_64-w64-mingw32-g++
      #      PATH=C:\msys64\mingw64\bin;%PATH%
      #    CIBW_ARCHS_WINDOWS: auto64 
      #    CIBW_BUILD: cp310-*
      #    CIBW_SKIP: pp*
      #  with:
      #    package-dir: rust
      #- name: build wheels
      #  uses: PyO3/maturin-action@v1
      #  with:
      #    target: x86_64-pc-windows-gnu
      #    args: --release --out dist --find-interpreter -m rust/Cargo.toml
      #    sccache: "true"
      - run: |
          which gcc
          echo "OPENSSL_LIB_DIR=/mingw64/lib" >> $env:GITHUB_ENV
          echo "OPENSSL_DIR=/mingw64" >> $env:GITHUB_ENV
          echo "OPENSSL_INCLUDE_DIR=/mingw64/include" >> $env:GITHUB_ENV

      - run: |
          maturin build --release --out dist --find-interpreter --manifest-path rust/Cargo.toml --target x86_64-pc-windows-gnu

      - run: ls -l dist
