name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on Windows
    runs-on: windows-latest
    #defaults:
    #  run:
    #    shell: msys2 {0}

    steps:
      - uses: actions/checkout@v5

      - uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          update: false
          install: >-
            mingw-w64-x86_64-autotools
            mingw-w64-x86_64-bzip2
            mingw-w64-x86_64-curl
            mingw-w64-x86_64-libdeflate
            mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-tools-git
            mingw-w64-x86_64-xz
            mingw-w64-x86_64-zlib
            mingw-w64-x86_64-rust
            mingw-w64-x86_64-openssl
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-make
            mingw-w64-x86_64-htslib
            mingw-w64-x86_64-maturin
            base-devel
            autoconf
            diffutils
            tree

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - name: Prepare files
        shell: msys2 {0}
        run: |
          rm -rf genomehubs-blobtk-*/.github
          mv genomehubs-blobtk-*/* .
          rm -rf ./genomehubs-blobtk-*

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: python fix_ord_subset.py

      #- uses: microsoft/setup-msbuild@v2
      #- uses: actions-rust-lang/setup-rust-toolchain@v1

      #- name: Install OpenSSL
      #  run: vcpkg install openssl:x64-windows
        #run: choco install openssl --no-progress

      - run: |
          echo "c:/msys64/mingw64/bin" | Out-File -FilePath $env:GITHUB_PATH -Append
          echo "OPENSSL_DIR=c:/msys64/mingw64" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "OPENSSL_LIB_DIR=c:/msys64/mingw64/lib" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "OPENSSL_INCLUDE_DIR=c:/msys64/mingw64/include" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "RUST_BACKTRACE=full" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "CARGO_BUILD_TARGET=x86_64-pc-windows-gnu" | Out-File -FilePath $env:GITHUB_ENV -Append
          echo "CARGO_PROFILE_RELEASE_BUILD_OVERRIDE_DEBUG=true" | Out-File -FilePath $env:GITHUB_ENV -Append

      - run: |
          tree D:/a/_temp/msys64
          which gcc
          gcc --version
          rustup default stable-x86_64-pc-windows-gnu

      #- uses: pypa/cibuildwheel@v3.2.1
      #  env:
      #    CIBW_ARCHS_WINDOWS: auto64 
      #    CIBW_BUILD: cp310-*
      #    CIBW_SKIP: pp*
      #  with:
      #    package-dir: rust
      #- name: build wheels
      #  uses: PyO3/maturin-action@v1
      #  with:
      #    target: x86_64-pc-windows-gnu
      #    args: --release --out dist --find-interpreter -m rust/Cargo.toml
      #    sccache: "true"
      #- run: |
      #    which gcc
      #    echo "OPENSSL_LIB_DIR=/mingw64/lib" >> $env:GITHUB_ENV
      #    echo "OPENSSL_DIR=/mingw64" >> $env:GITHUB_ENV
      #    echo "OPENSSL_INCLUDE_DIR=/mingw64/include" >> $env:GITHUB_ENV

      - run: |
          maturin build --release --out dist --manifest-path rust/Cargo.toml --target x86_64-pc-windows-gnu
        # echo "RUST_BACKTRACE=full" >> $env:GITHUB_ENV
        # maturin build --release --out dist --find-interpreter --manifest-path rust/Cargo.toml --target x86_64-pc-windows-gnu
        # echo "OPENSSL_DIR=/mingw64" >> $GITHUB_ENV
        # echo "OPENSSL_LIB_DIR=/mingw64/lib" >> $GITHUB_ENV
        # echo "OPENSSL_INCLUDE_DIR=/mingw64/include" >> $GITHUB_ENV
          


      - run: ls -l dist
