name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v5

      - uses: robinraju/release-downloader@v1
        with:
          repository: "genomehubs/blobtk"
          zipBall: true
          latest: true
          extract: true

      - run: |
          Remove-Item -Path .\genomehubs-blobtk-*\.github -Recurse -Force
          Move-Item -Path .\genomehubs-blobtk-*\* -Destination .
          Remove-Item -Path .\genomehubs-blobtk-*

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - run: python fix_ord_subset.py    

      - uses: microsoft/setup-msbuild@v2
      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Install OpenSSL
        run: vcpkg install openssl:x64-windows
        #run: choco install openssl --no-progress

      - run: |
          dir "C:/Program Files/OpenSSL/include"
        #  dir C:/ProgramData/chocolatey
        #  dir C:/ProgramData/chocolatey/lib/openssl
        #  dir C:/vcpkg/packages/openssl_x64-windows
        #  dir C:/vcpkg/packages/openssl_x64-windows/lib
        #  dir C:/vcpkg/packages/openssl_x64-windows/include
        #  dir C:/vcpkg/packages/openssl_x64-windows/include/openssl
        #  echo "VCPKG_ROOT=C:/vcpkg" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_DIR=C:/vcpkg/packages/openssl_x64-windows" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_LIB_DIR=C:/vcpkg/packages/openssl_x64-windows/lib" | Out-File -FilePath $env:GITHUB_ENV -Append
        #  echo "OPENSSL_INCLUDE_DIR=C:/vcpkg/packages/openssl_x64-windows/include" | Out-File -FilePath $env:GITHUB_ENV -Append

      - uses: pypa/cibuildwheel@v3.2.1
        env:
          CIBW_ENVIRONMENT_WINDOWS: >
            OPENSSL_DIR="C:\\vcpkg\\packages\\openssl_x64-windows"
            OPENSSL_LIB_DIR="C:\\vcpkg\\packages\\openssl_x64-windows\\lib"
            OPENSSL_INCLUDE_DIR="C:\\vcpkg\\packages\\openssl_x64-windows\\include"
          CIBW_BEFORE_ALL_WINDOWS: rustup target add i686-pc-windows-msvc
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_BUILD: cp310-*
          CIBW_SKIP: pp*
        with:
          package-dir: rust

      - run: ls -l wheelhouse
