name: build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:
      - uses: actions/checkout@v5

      - name: Clone blobtk
        run: |
          git clone https://github.com/genomehubs/blobtk.git

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: pypa/cibuildwheel@v3.2.1
        with:
          package-dir: rust

      - name: Build wheels
        run: ls -l wheelhouse
        env:
          CIBW_SKIP: pp* *musllinux*

      - run: ls -l wheelhouse
